{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/float-button-style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/select-element-style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block sidebar %}
        {{ parent() }}
    {% endblock%}
    <main id="main" class="main" style="position: relative">
        <div class="pagetitle">
            <h1>Gestion des responsables</h1>
        </div>
        <section class="section-content">
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th style="text-align: center">
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr  id="responsible-{{ user.id }}">
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.email }}</td>
                            <td style="display: flex; align-items: center; justify-content: center">
                                <a href="#" class="link-text edit-responsible edit-responsible-{{ user.id }}" data-bs-toggle="modal" data-bs-target="#edit-responsible-modal">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <form method="post" action="{{ path('app_responsible_delete', {'user': user.id}) }}" onsubmit="return confirm('êtes vous sûr de vouloire supprimer ce responsable');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                    <button class="link-text btn" style="color: #dc2323"><i class="bi bi-trash3-fill"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <button class="btn btn-primary float-button" data-bs-toggle="modal" data-bs-target="#addResponsable" >Ajouter Responsable</button>

        <!-- Modal Add -->
        <div class="modal fade" id="addResponsable" tabindex="-1" aria-labelledby="addResponsable" aria-hidden="true">
            <div class="modal-dialog">

                {{ form_start(form) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-file-plus"></i> Ajouter responsable</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(form.lastName,'Nom',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(form.firstName,'Prénom',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(form.email,'Email',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <!-- End Modal Add -->
        <!-- Modal Edit -->
        <div class="modal fade" id="edit-responsible-modal" tabindex="-1" aria-labelledby="edit-responsible-modal" aria-hidden="true">
            <div class="modal-dialog">

                {{ form_start(formEdit, {'action': path('app_responsible_edit', { 'user': 0 }), 'method': 'POST', 'attr': {'id': 'form-edit'}}) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-pen"></i> Modifier responsable</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">

                        <div class="my-custom-class-for-errors">
                            {{ form_errors(formEdit) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formEdit.lastName,'Nom',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formEdit.lastName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formEdit.firstName,'Prénom',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formEdit.firstName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formEdit.email,'Email',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formEdit.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary">{{ button_label|default('Modifier') }}</button>
                    </div>
                </div>
                {{ form_end(formEdit) }}
            </div>
        </div>
        <!-- End Modal Edit -->
    </main>
    {% block script %}
        {{ parent() }}
        <script>

            const responsibles = Object.values(document.getElementsByClassName('edit-responsible'));
            students.forEach(link => {
                link.addEventListener('click', event => {
                    event.preventDefault();
                    const id = event.currentTarget.className.split(' ').pop().split('-').pop();
                    const responsibleRow = document.getElementById('responsible-' + id);
                    const responsibleLastName = responsibleRow.children[0].textContent;
                    const responsibleFirstName = responsibleRow.children[1].textContent;
                    const responsibleEmail = responsibleRow.children[2].textContent;
                    const form = document.getElementById('form-edit');
                    //Form Values
                    form.getElementsByTagName('input')[0].value = responsibleLastName;
                    form.getElementsByTagName('input')[1].value = responsibleFirstName;
                    form.getElementsByTagName('input')[2].value = responsibleEmail;
                    let formAction = form.action.split('/');
                    formAction[formAction.length - 2] = id;
                    form.action = formAction.join('/');
                });
            });
        </script>
    {% endblock %}
{% endblock %}
