{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/student-interface.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <main id="main" class="main" style="position: relative">

        {% if student %}
            <div class="pagetitle">
                <h1>Choix d'options</h1>
                <h1>Master-{{ student.promotion.anneeMaster }} {{ student.promotion.parcour.name }}</h1>
            </div>
            <div class="limit-date">
                <h1>Date limite pour faire votre choix</h1>
                <h1>{{ student.promotion.dateLimiteChoixOptions|date('d/m/Y h:i:s') }}</h1>
            </div>
            <section class="section-content">
                <div class="row">

                    <form id="choice-form" action="{{ path('save_choice') }}" method="post">
                        <div id="popup-error" style="display: none; width: 100%">
                            <div class="alert alert-danger" role="alert">
                                Choix d'options incomplet
                            </div>
                        </div>
                        {% for error in errors %}
                            <div id="popup-error" style="width: 100%">
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            </div>
                        {% endfor %}
                        {% for bloc in student.promotion.parcour.blocs %}
                            <div class="bloc-container">
                                <div class="bloc bloc-head {% if currentChoice %} complet-bloc {% endif %}">
                                    {{ bloc.name }}
                                    <div>
                                        <span class="choice-made">
                                            {% if currentChoice %}
                                                {{ bloc.ueOptionalToChose }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </span>/
                                        <span class="choice-max">{{ bloc.ueOptionalToChose }}</span>
                                    </div>
                                </div>
                                <div class="bloc-content">
                                    {% for ue in bloc.ues %}
                                        <div class="bloc bloc-ue">
                                            <span>{{ ue.name }}</span>
                                            {% if ue.status == 1 %}
                                                <input type="checkbox" value="{{ ue.id }}" class="input-ue" name="choices[]" {% if ue.id in currentChoice %}checked{% endif %}>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                        <button class="btn btn-primary btn-save-choice" id="btn-choice" type="submit">Enregistrer</button>
                    </form>
                </div>
            </section>
        {% else %}
            <div class="pagetitle">
                <h1>Choix d'options</h1>
            </div>
            <div> Vous n'êtes toujours pas enregistrer dans un parcour, Demandez de l'aide auprès de votre responsable du master</div>
        {% endif %}
    </main>
    {% block script %}
        {{ parent() }}
        <script>
            const inputUES = Object.values(document.getElementsByClassName('input-ue'));
            const btnChoice = document.getElementById('btn-choice');
            let completeBloc = 0;
            inputUES.forEach(ue => {
                ue.addEventListener('change', event => {
                    console.log(event.currentTarget.parentNode.parentNode.parentNode.firstElementChild);
                    let blocHeader = event.currentTarget.parentNode.parentNode.parentNode.firstElementChild;
                    let choiceMadeSpan = event.currentTarget.parentNode.parentNode.parentNode.firstElementChild.lastElementChild.firstElementChild;
                    let choiceMaxSpan = event.currentTarget.parentNode.parentNode.parentNode.firstElementChild.lastElementChild.lastElementChild;
                    console.log(blocHeader.classList);
                    blocHeader.classList.remove('complet-bloc');
                    if(event.currentTarget.checked){
                        if(parseInt(choiceMadeSpan.innerHTML) < parseInt(choiceMaxSpan.innerHTML)){
                            choiceMadeSpan.innerHTML = parseInt(choiceMadeSpan.innerHTML) + 1;
                        }else {
                            event.currentTarget.checked = false;
                        }

                    } else {
                        choiceMadeSpan.innerHTML = parseInt(choiceMadeSpan.innerHTML) - 1;
                    }
                    if(parseInt(choiceMadeSpan.innerHTML) == parseInt(choiceMaxSpan.innerHTML)){
                        blocHeader.classList.add('complet-bloc');
                    }
                })
            });

            btnChoice.addEventListener('click', event => {
                event.preventDefault();
                let completeChoiceBloc = document.getElementsByClassName('complet-bloc').length;
                if(completeChoiceBloc != parseInt("{{ student.promotion.parcour.blocs|length }}")){
                    document.getElementById('popup-error').style.display = 'block';
                }else{
                    document.getElementById('popup-error').style.display = 'none';
                    document.getElementById('choice-form').submit();
                }
            });

            currentUrl = window.location.href.split('/')
            if(currentUrl[currentUrl.length - 1] == 'save'){
                currentUrl.pop();
                window.location.href = currentUrl.join('/');
            }
        </script>
    {% endblock %}
{% endblock %}
