{% extends 'base.html.twig' %}

{% block title %}Blocs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/float-button-style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/select-element-style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/table-subcontent-style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block sidebar %}
        {{ parent() }}
    {% endblock%}
    <main id="main" class="main" style="position: relative">
        <div class="pagetitle">
            <h1>Gestion des blocs et UEs</h1>
            <form style="text-align: center;">
                <select id="parcour-selected" class="text-select">
                    {% for parcour in parcours %}
                        <option value="{{ parcour.id }}" {% if selectedParcourId == parcour.id %} selected {% endif %}>{{ parcour.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

        <section class="section-content">
            <div class="row">
                {% for skillBloc in skillBlocs %}
                    <div class="accordion">
                        <div  class="accordion-item">
                            <div class="accordion-header" id="bloc-{{ skillBloc.id }}">
                                <div>{{ skillBloc.name }}</div>
                                <div style="display: flex; align-items: center; max-width: 210px;">
                                    <button class="btn btn-primary small-btn-darck btn-ue-option-bloc-js" data-bs-toggle="modal" data-bs-target="#addUEModal">
                                        <i class="bi bi-plus-square"></i>
                                    </button>
                                    <a href="#" class="edit-bloc edit-bloc-{{ skillBloc.id }}" data-bs-toggle="modal" data-bs-target="#edit-bloc-modal">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <form method="post" action="{{ path('app_bloc_delete', {'id': selectedParcourId, 'bloc': skillBloc.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ skillBloc.id) }}">
                                        <button class="link-text btn" style="color: #dc2323"><i class="bi bi-trash3-fill"></i></button>
                                    </form>
                                    <button class="accordion-button{% if selectedBloc != skillBloc.id %} collapsed {% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-{{ skillBloc.id }}" aria-expanded="{% if selectedBloc == skillBloc.id %}true{% else %}false{% endif %}" aria-controls="collapseOne">
                                    </button>
                                </div>
                            </div>
                            <div id="collapseOne-{{ skillBloc.id }}" class="accordion-collapse collapse {% if selectedBloc == skillBloc.id %} show {% endif %}" aria-labelledby="bloc-{{ skillBloc.id }}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Intitulé</th>
                                                <th>Capacité du groupe</th>
                                                <th>actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for ue in skillBloc.ues %}
                                            <tr>
                                                <td>{{ ue.name }}</td>
                                                <td>{{ ue.capacityGroup }}</td>
                                                <td>
                                                    <a href="">show</a>
                                                    <a href="">edit</a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="6">no records found</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <!-- Madal add Bloc de compétence -->
        <button class="btn btn-primary float-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Ajouter le bloc de compétence</button>
        <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">

                {{ form_start(formSkillBloc) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-file-plus"></i> Ajouter un bloc de compétence</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(formSkillBloc) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formSkillBloc.name,'Intitulé',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formSkillBloc.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
                    </div>
                </div>
                {{ form_end(formSkillBloc) }}
            </div>
        </div>

        <!-- Madal Edit -->
        <div class="modal fade" id="edit-bloc-modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">

                {{ form_start(formEditSkillBloc, {'action': path('app_bloc_edit', { 'id': selectedParcourId, 'bloc': 0 }), 'method': 'POST', 'attr': {'id': 'form-edit'}}) }}

                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-pen"></i> Modifier le bloc de compétence</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(formEditSkillBloc) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formEditSkillBloc.name,'Intitulé',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formEditSkillBloc.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary">{{ button_label|default('Modifier') }}</button>
                    </div>
                </div>
                {{ form_end(formEditSkillBloc) }}
            </div>
        </div>
        <!-- End Madal Edit -->
        <!-- Madal ADD UE/Bloc d'option -->
        <div class="modal fade" id="addUEModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">

                {{ form_start(formSelectUe, {'action': path('app_bloc_new_selected', { 'id': selectedParcourId, 'skillBloc': 0 }), 'method': 'POST', 'attr': {'id': 'form-ue-add'}}) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-file-plus"></i> Ajouter UE / Bloc d'options</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(formSelectUe) }}
                        </div>
                        <div class="col-12">
                            <label for="select-type-element" class="col-form-label">Selectionez le type d'élement</label>
                            <select name="" id="select-type-element" class="form-control">
                                <option value="1" selected="selected">UE</option>
                                <option value="2">Bloc d'option</option>
                            </select>
                        </div>
                        <div id="content-form-ue">
                            <div class="col-12">
                                {{ form_label(formSelectUe.id,'Nom UE',  {'label_attr': {'class': 'col-form-label'}}) }}
                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                    <div style="display: flex; flex: 9;">
                                        {{ form_widget(formSelectUe.id, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div style="display: flex; flex: 1; justify-content: end">
                                        <button id="btn-add-new-ue" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewUEModal" type="button">
                                            <i class="bi bi-plus-square"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
                    </div>
                </div>
                {{ form_end(formSelectUe) }}

                {{ form_start(formOptionBloc, {'action': path('app_bloc_new_selected', { 'id': selectedParcourId, 'skillBloc': 0 }), 'method': 'POST', 'attr': {'id': 'form-optionBloc-add', 'style':'display: none'}}) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-file-plus"></i> Ajouter UE / Bloc d'options</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(formOptionBloc) }}
                        </div>
                        <div class="col-12">
                            <label for="select-type-element-double" class="col-form-label">Selectionez le type d'élement</label>
                            <select name="" id="select-type-element-double" class="form-control">
                                <option value="1">UE</option>
                                <option value="2" selected="selected">Bloc d'option</option>
                            </select>
                        </div>
                        <div class="col-12">
                            {{ form_label(formOptionBloc.name,'Intitulé',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formOptionBloc.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formOptionBloc.nbUeToChose,'Nombre d\'ues à choisir',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formOptionBloc.nbUeToChose, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formOptionBloc.choiceDateStart,'Date début des choix',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formOptionBloc.choiceDateStart, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formOptionBloc.choiceDateEnd,'Date fin des choix',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formOptionBloc.choiceDateEnd, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
                    </div>
                </div>
                {{ form_end(formOptionBloc) }}

            </div>
        </div>
        <!-- END Madal ADD UE/Bloc d'option -->
        <!-- Madal ADD UE -->
        <div class="modal fade" id="addNewUEModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">

                {{ form_start(formUe, {'action': path('app_bloc_new', { 'id': selectedParcourId, 'skillBloc': 0 }), 'method': 'POST', 'attr': {'id': 'form-add-new-ue'}}) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-file-plus"></i> Ajouter UE</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(formUe) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formUe.name,'Nom UE',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formUe.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formUe.nbGroup,'nombre de groupe',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formUe.nbGroup, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formUe.capacityGroup,'Capacité du groupe',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formUe.capacityGroup, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary" id="btn-submit-new-ue">{{ button_label|default('Ajouter') }}</button>
                    </div>
                </div>
                {{ form_end(formUe) }}
            </div>
        </div>
        <!-- END Madal ADD UE -->

        <!-- Madal EDIT UE -->
        <div class="modal fade" id="edit-bloc-ue-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">

                {{ form_start(formUeEdit, {'action': path('app_bloc_ue_edit', { 'id': selectedParcourId, 'bloc': 0, 'ue': 0 }), 'method': 'POST', 'attr': {'id': 'form-ue-edit'}}) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-pen"></i> Modifier UE</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(formUeEdit) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formUeEdit.name,'Nom UE',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formUeEdit.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formUeEdit.nbGroup,'nombre de groupe',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formUeEdit.nbGroup, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formUeEdit.capacityGroup,'Capacité du groupe',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formUeEdit.capacityGroup, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary">{{ button_label|default('Modifier') }}</button>
                    </div>
                </div>
                {{ form_end(formUeEdit) }}
            </div>
        </div>
        <!-- END Madal EDIT UE -->
    </main>
    {% block script %}
        {{ parent() }}
        <script>

            $('#select-type-element').change(function(){
                //Chose UE
                if($("#select-type-element option:selected").attr('value') == 1){
                    $("#form-optionBloc-add").css('display', 'none');
                    $("#form-ue-add").css('display', 'block');

                    $("#select-type-element option[selected='selected']").attr("selected",null);
                    $("#select-type-element option[value='2']").attr('selected', 'selected');
                } else { // Chose Bloc d'option
                    $("#form-optionBloc-add").css('display', 'block');
                    $("#form-ue-add").css('display', 'none');

                    $("#select-type-element option[selected='selected']").attr("selected",null);
                    $("#select-type-element option[value='1']").attr('selected', 'selected');
                }
            });
            $('#select-type-element-double').change(function(){
                //Chose UE
                if($("#select-type-element-double option:selected").attr('value') == 1){
                    $("#form-optionBloc-add").css('display', 'none');
                    $("#form-ue-add").css('display', 'block');

                    $("#select-type-element-double option[selected='selected']").attr("selected",null);
                    $("#select-type-element-double option[value='2']").attr('selected', 'selected');
                } else { // Chose Bloc d'option
                    $("#form-optionBloc-add").css('display', 'block');
                    $("#form-ue-add").css('display', 'none');

                    $("#select-type-element-double option[selected='selected']").attr("selected",null);
                    $("#select-type-element-double option[value='1']").attr('selected', 'selected');
                }
            });
            $(".btn-ue-option-bloc-js").click(function (){
                var idSkillBloc = $(this).parent().parent().attr('id').split('-').pop();
                var pathArray = $('#addUEModal form').first().attr('action').split('/');
                pathArray[pathArray.length - 3]  = idSkillBloc
                $('#addUEModal form').first().attr('action', pathArray.join('/'));
            });

            $("#btn-add-new-ue").click(function () {
                let pathSelectedUe = $(this).closest('form').attr('action').split('/');
                let skillBlocId = pathSelectedUe[pathSelectedUe.length - 3];
                let pathNewUe = $("#addNewUEModal form").attr('action').split('/');
                pathNewUe[pathNewUe.length - 3] = skillBlocId
                $("#addNewUEModal form").attr('action', pathNewUe.join('/'));
                $("#addNewUEModal form").trigger("reset");
            });
            // this is the id of the form
            $("#form-add-new-ue").submit(function(e) {

                e.preventDefault(); // avoid to execute the actual submit of the form.

                var form = $(this);
                var actionUrl = form.attr('action');
                console.log('request sended !');
                $.ajax({
                    type: "POST",
                    url: actionUrl,
                    data: form.serialize(), // serializes the form's elements.
                    success: function(data)
                    {
                        $("#addUEModal").modal('show');
                        $("#addNewUEModal").modal('hide');
                        var options = "";
                        data.forEach(e => {
                            console.log(e);
                            options = $("#select_ue_id").html();
                            $("#select_ue_id").html(options + "<option value='"+e.id+"'>"+e.name+"</option>");

                        });
                    }
                });

            });
            const blocs = Object.values(document.getElementsByClassName('edit-bloc'));
            blocs.forEach(link => {
                link.addEventListener('click', event => {
                    event.preventDefault();
                    const id = event.currentTarget.className.split(' ').pop().split('-').pop();
                    const blocRow = document.getElementById('bloc-' + id);
                    const blocName = blocRow.children[0].textContent;
                    const form = document.getElementById('form-edit');
                    //Form Values
                    form.getElementsByTagName('input')[0].value = blocName;
                    let formAction = form.action.split('/');
                    formAction[formAction.length - 2] = id;
                    form.action = formAction.join('/');
                });
            });

            const parcourSelected = document.getElementById('parcour-selected');
            parcourSelected.addEventListener('change', event => {
                let currentUrl = window.location.href.split('/');
                if(currentUrl[currentUrl.length - 2] == 'bloc'){
                    currentUrl.pop();
                }
                currentUrl[currentUrl.length - 2] = event.currentTarget.value;
                location.href = currentUrl.join('/');
            });

            const buttonsNewUe = Object.values(document.getElementsByClassName('new-ue-button'));
            buttonsNewUe.forEach(button => {
                button.addEventListener('click', event => {
                    const id = event.currentTarget.className.split(' ').pop().split('-').pop();
                    const form = document.getElementById('form-ue-add');
                    console.log(form.action);
                    let formAction = form.action.split('/');
                    formAction[formAction.length - 3] = id;
                    form.action = formAction.join('/');
                })
            });

            const linksEditUe = Object.values(document.getElementsByClassName('edit-bloc-ue'));
            linksEditUe.forEach(link => {
                link.addEventListener('click', event => {
                    event.preventDefault();
                    const idUe = event.currentTarget.className.split(' ').pop().split('-').pop();
                    const idBloc = event.currentTarget.className.split(' ').pop().split('-').slice(-3)[0];
                    const ueRow = document.getElementById('ue-' + idUe);
                    const ueName = ueRow.children[0].textContent;
                    const ueNbGroup = ueRow.children[1].textContent;
                    const ueCapacity = ueRow.children[2].textContent;
                    const form = document.getElementById('form-ue-edit');
                    //Form Values
                    form.getElementsByTagName('input')[0].value = ueName;
                    form.getElementsByTagName('input')[1].value = ueNbGroup;
                    form.getElementsByTagName('input')[2].value = ueCapacity;
                    let formAction = form.action.split('/');
                    formAction[formAction.length - 2] = idUe;
                    formAction[formAction.length - 4] = idBloc;
                    form.action = formAction.join('/');
                });
            });
        </script>
    {% endblock %}

{% endblock %}
