{% extends 'base.html.twig' %}

{% block title %}Blocs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/float-button-style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/select-element-style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/table-subcontent-style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block sidebar %}
        {{ parent() }}
    {% endblock%}
    <main id="main" class="main" style="position: relative">
        <div class="pagetitle">
            <h1>Gestion des blocs et UEs</h1>
            <form style="text-align: center;">
                <select id="parcour-selected" class="text-select">
                    {% for parcour in parcours %}
                        <option value="{{ parcour.id }}" {% if selectedParcourId == parcour.id %} selected {% endif %}>{{ parcour.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

        <section class="section-content">
            <div class="row">
                <div class="table">
                    <div class="table-header">
                        <div>Bloc</div>
                        <div>Nombre des UEs optionnelles</div>
                        <div>Actions</div>
                    </div>
                    <div class="table-body accordion">
                        {% for bloc in blocs %}
                            <div  class="accordion-item">
                                <div class="accordion-header" id="bloc-{{ bloc.id }}">
                                    <div>{{ bloc.name }}</div>
                                    <div>{{ bloc.ueOptionalToChose }}</div>
                                    <div style="display: flex; align-items: center;">
                                        <a href="#" class="edit-bloc edit-bloc-{{ bloc.id }}" data-bs-toggle="modal" data-bs-target="#edit-bloc-modal">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <form method="post" action="{{ path('app_bloc_delete', {'id': selectedParcourId, 'bloc': bloc.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bloc.id) }}">
                                            <button class="link-text btn" style="color: #dc2323"><i class="bi bi-trash3-fill"></i></button>
                                        </form>
                                        <button class="accordion-button{% if selectedBloc != bloc.id %} collapsed {% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-{{ bloc.id }}" aria-expanded="{% if selectedBloc == bloc.id %}true{% else %}false{% endif %}" aria-controls="collapseOne">
                                            UEs
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseOne-{{ bloc.id }}" class="accordion-collapse collapse {% if selectedBloc == bloc.id %} show {% endif %}" aria-labelledby="bloc-{{ bloc.id }}" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>UE</th>
                                                <th>Status</th>
                                                <th>Nombre de groupe</th>
                                                <th>Capacité du groupe</th>
                                                <th style="text-align: center;">
                                                    <button class="btn btn-primary new-ue-button new-ue-{{ bloc.id }}" data-bs-toggle="modal" data-bs-target="#addUEModal" style="background-color: #00345f;">
                                                        <i class="bi bi-plus-square"></i> Ajouter UE
                                                    </button>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for ue in bloc.ues %}
                                                <tr id="ue-{{ ue.id }}">
                                                    <td>{{ ue.name }}</td>
                                                    <td>{{ ue.status }}</td>
                                                    <td>{{ ue.nbGroup }}</td>
                                                    <td>{{ ue.capacityGroup }}</td>
                                                    <td style="display: flex; align-items: center; justify-content: center;">
                                                        <a href="#" class="edit-bloc-ue edit-bloc-{{ bloc.id }}-ue-{{ ue.id }}" data-bs-toggle="modal" data-bs-target="#edit-bloc-ue-modal">
                                                            <i class="bi bi-pencil-square"></i>
                                                        </a>
                                                        <form method="post" action="{{ path('app_bloc_ue_delete', {'id': selectedParcourId, 'bloc': bloc.id, 'ue': ue.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ue.id) }}">
                                                            <button class="link-text btn" style="color: #dc2323"><i class="bi bi-trash3-fill"></i></button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="6">no records found</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                                <tr>
                                    <td colspan="4">no records found</td>
                                </tr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <button class="btn btn-primary float-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Ajouter Bloc</button>
        <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">

                {{ form_start(form) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-file-plus"></i> Ajouter un bloc</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(form.name,'Bloc',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(form.ueOptionalToChose,'Nombre des UEs optionnelles',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(form.ueOptionalToChose, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        <!-- Madal Edit -->
        <div class="modal fade" id="edit-bloc-modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">

                {{ form_start(formEdit, {'action': path('app_bloc_edit', { 'id': selectedParcourId, 'bloc': 0 }), 'method': 'POST', 'attr': {'id': 'form-edit'}}) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-pen"></i> Modifier un bloc</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(formEdit) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formEdit.name,'Bloc',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formEdit.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formEdit.ueOptionalToChose,'Nombre des UEs optionnelles',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formEdit.ueOptionalToChose, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary">{{ button_label|default('Modifier') }}</button>
                    </div>
                </div>
                {{ form_end(formEdit) }}
            </div>
        </div>
        <!-- End Madal Edit -->
        <!-- Madal ADD UE -->
        <div class="modal fade" id="addUEModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">

                {{ form_start(formUe, {'action': path('app_bloc_ue_new', { 'id': selectedParcourId, 'bloc': 0 }), 'method': 'POST', 'attr': {'id': 'form-ue-add'}}) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-file-plus"></i> Ajouter UE</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(formUe) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formUe.name,'Nom UE',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formUe.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formUe.status,'Statut',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formUe.status, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formUe.nbGroup,'Nombre de groupe',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formUe.nbGroup, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formUe.capacityGroup,'Capacité du groupe',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formUe.capacityGroup, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
                    </div>
                </div>
                {{ form_end(formUe) }}
            </div>
        </div>
        <!-- END Madal ADD UE -->

        <!-- Madal EDIT UE -->
        <div class="modal fade" id="edit-bloc-ue-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">

                {{ form_start(formUeEdit, {'action': path('app_bloc_ue_edit', { 'id': selectedParcourId, 'bloc': 0, 'ue': 0 }), 'method': 'POST', 'attr': {'id': 'form-ue-edit'}}) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-pen"></i> Modifier UE</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(formUeEdit) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formUeEdit.name,'Nom UE',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formUeEdit.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formUeEdit.status,'Statut',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formUeEdit.status, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formUeEdit.nbGroup,'Nombre de groupe',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formUeEdit.nbGroup, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formUeEdit.capacityGroup,'Capacité du groupe',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formUeEdit.capacityGroup, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary">{{ button_label|default('Modifier') }}</button>
                    </div>
                </div>
                {{ form_end(formUeEdit) }}
            </div>
        </div>
        <!-- END Madal EDIT UE -->
    </main>
    {% block script %}
        {{ parent() }}
        <script>
            const blocs = Object.values(document.getElementsByClassName('edit-bloc'));
            blocs.forEach(link => {
                link.addEventListener('click', event => {
                    event.preventDefault();
                    const id = event.currentTarget.className.split(' ').pop().split('-').pop();
                    const blocRow = document.getElementById('bloc-' + id);
                    const blocName = blocRow.children[0].textContent;
                    const blocNbOptionalUe = blocRow.children[1].textContent;
                    const form = document.getElementById('form-edit');
                    //Form Values
                    form.getElementsByTagName('input')[0].value = blocName;
                    form.getElementsByTagName('input')[1].value = blocNbOptionalUe;
                    let formAction = form.action.split('/');
                    formAction[formAction.length - 2] = id;
                    form.action = formAction.join('/');
                });
            });

            const parcourSelected = document.getElementById('parcour-selected');
            parcourSelected.addEventListener('change', event => {
                let currentUrl = window.location.href.split('/');
                if(currentUrl[currentUrl.length - 2] == 'bloc'){
                    currentUrl.pop();
                }
                currentUrl[currentUrl.length - 2] = event.currentTarget.value;
                location.href = currentUrl.join('/');
            });

            const buttonsNewUe = Object.values(document.getElementsByClassName('new-ue-button'));
            buttonsNewUe.forEach(button => {
                button.addEventListener('click', event => {
                    const id = event.currentTarget.className.split(' ').pop().split('-').pop();
                    const form = document.getElementById('form-ue-add');
                    console.log(form.action);
                    let formAction = form.action.split('/');
                    formAction[formAction.length - 3] = id;
                    form.action = formAction.join('/');
                })
            });

            const linksEditUe = Object.values(document.getElementsByClassName('edit-bloc-ue'));
            linksEditUe.forEach(link => {
                link.addEventListener('click', event => {
                    event.preventDefault();
                    const idUe = event.currentTarget.className.split(' ').pop().split('-').pop();
                    const idBloc = event.currentTarget.className.split(' ').pop().split('-').slice(-3)[0];
                    const ueRow = document.getElementById('ue-' + idUe);
                    const ueName = ueRow.children[0].textContent;
                    const ueStatus = ueRow.children[1].textContent;
                    const ueNbGroup = ueRow.children[2].textContent;
                    const ueCapacity = ueRow.children[3].textContent;
                    const form = document.getElementById('form-ue-edit');
                    //Form Values
                    form.getElementsByTagName('input')[0].value = ueName;
                    form.getElementsByTagName('input')[1].value = ueStatus;
                    form.getElementsByTagName('input')[2].value = ueNbGroup;
                    form.getElementsByTagName('input')[3].value = ueCapacity;
                    let formAction = form.action.split('/');
                    formAction[formAction.length - 2] = idUe;
                    formAction[formAction.length - 4] = idBloc;
                    form.action = formAction.join('/');
                });
            });
        </script>
    {% endblock %}

{% endblock %}
