{% extends 'base.html.twig' %}

{% block title %}Promotions{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/card-style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/float-button-style.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block sidebar %}
        {{ parent() }}
    {% endblock%}
    <main id="main" class="main" style="position: relative">
        <div class="pagetitle">
            <h1>Gestion des promotions</h1>
        </div>

        <section class="section-content">
            <div class="row">

                {% for promotion in promotions %}
                    <div class="col-lg-4">
                        <div class="data-card" id="card-{{ promotion.id }}">
                            <h3 class="parcour-{{ promotion.parcour.id }}">Master-{{ promotion.anneeMaster }} {{ promotion.parcour.name }}</h3>
                            <h4>{{ promotion.datePromotion }} - {{ promotion.datePromotion + 1 }}</h4>
                            <p>Date du choix</p>
                            <p>{{ promotion.dateLimiteChoixOptions ? promotion.dateLimiteChoixOptions|date('d-m-Y H:i') : '--' }}</p>
                            <div class="card-buttons">
                                <div class="card-button">
                                    <a href="#" class="link-text edit-promotion edit-promotion-{{ promotion.id }}" data-bs-toggle="modal" data-bs-target="#edit-promotion-modal">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </div>
                                <div class="card-button" style="flex: 1; text-align: center">
                                    <form method="post" action="{{ path('app_promotion_delete', {'id': promotion.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet item?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promotion.id) }}">
                                        <button class="btn link-text" style="margin: 0 auto;"><i class="bi bi-trash3-fill"></i></button>
                                    </form>
                                </div>
                                <div class="card-button dropdown" style="flex: 1; text-align: center">
                                    <a href="" class="link-text" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Gestion des étudiants</a></li>
                                        <li><a class="dropdown-item" href="#">Gestion des blocs</a></li>
                                        <li><a class="dropdown-item" href="#">Télécharger en format Excel</a></li>
                                        <li><a class="dropdown-item" href="#">Télécharger en format PDF</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
            </div>
        </section>

        <button class="btn btn-primary float-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Ajouter Promotion</button>
        <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">

                {{ form_start(form) }}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-file-plus"></i> Ajouter une promotion</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body row">
                            <div class="my-custom-class-for-errors">
                                {{ form_errors(form) }}
                            </div>
                            <div class="col-12">
                                {{ form_label(form.anneeMaster,'Année du master',  {'label_attr': {'class': 'col-form-label'}}) }}
                                {{ form_widget(form.anneeMaster, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-12">
                                {{ form_label(form.parcour,'Parcours',  {'label_attr': {'class': 'col-form-label'}}) }}
                                {{ form_widget(form.parcour, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-12">
                                {{ form_label(form.datePromotion,'Année de promotion',  {'label_attr': {'class': 'col-form-label'}}) }}
                                {{ form_widget(form.datePromotion, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-12">
                                {{ form_label(form.dateLimiteChoixOptions,'Date limite de choix d\'options',  {'label_attr': {'class': 'col-form-label'}}) }}
                                {{ form_widget(form.dateLimiteChoixOptions, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="modal fade" id="edit-promotion-modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">

                {{ form_start(formEdit, {'action': path('app_promotion_edit', { 'id': 0 }), 'method': 'POST', 'attr': {'id': 'form-edit'}}) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-pen"></i> Modifier une promotion</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(formEdit) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formEdit.anneeMaster,'Année du master',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formEdit.anneeMaster, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formEdit.parcour,'Parcours',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formEdit.parcour, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formEdit.datePromotion,'Année de promotion',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formEdit.datePromotion, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_label(formEdit.dateLimiteChoixOptions,'Date limite de choix d\'options',  {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formEdit.dateLimiteChoixOptions, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary">{{ button_label|default('Modifier') }}</button>
                    </div>
                </div>
                {{ form_end(formEdit) }}
            </div>
        </div>
    </main>
    {% block script %}
        {{ parent() }}
        <script>
            const promotions = Object.values(document.getElementsByClassName('edit-promotion'));
            promotions.forEach(link => {
                link.addEventListener('click', event => {
                    event.preventDefault();
                    const id = event.currentTarget.className.split(' ').pop().split('-').pop()
                    const card = document.getElementById('card-' + id);
                    const masterinfo = card.children[0].textContent.split(' ');
                    const masterYear = masterinfo[0].split(' ').pop().split('-')[1];
                    const parcour = card.children[0].className.split('-').pop();
                    const datePromo = card.children[1].textContent.split(' - ')[0];
                    const dateLimite = card.children[3].textContent;
                    const day = dateLimite.split('-')[0];
                    const month = dateLimite.split('-')[1];
                    const year = dateLimite.split('-')[2].split(' ')[0];
                    const hour = dateLimite.split('-')[2].split(' ')[1].split(':')[0];
                    const minute = dateLimite.split('-')[2].split(' ')[1].split(':')[1];
                    const form = document.getElementById('form-edit');
                    //Form Values
                    form.getElementsByTagName('select')[0].value = parseInt(masterYear);
                    form.getElementsByTagName('input')[0].value = datePromo;
                    form.getElementsByTagName('select')[1].value = parseInt(parcour);
                    form.getElementsByTagName('select')[2].value = parseInt(month);
                    form.getElementsByTagName('select')[3].value = parseInt(day);
                    form.getElementsByTagName('select')[4].value = parseInt(year);
                    form.getElementsByTagName('select')[5].value = parseInt(hour);
                    form.getElementsByTagName('select')[6].value = parseInt(minute);
                    let formAction = form.action.split('/');
                    formAction[formAction.length - 2] = id;
                    form.action = formAction.join('/');
                    console.log(form.action)


                });
            });
        </script>
    {% endblock %}
{% endblock %}
