{% extends 'base.html.twig' %}

{% block title %}Ue{% endblock %}

{% block body %}
    <h1>Ue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ue.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ ue.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ue.status }}</td>
            </tr>
            <tr>
                <th>NbGroup</th>
                <td>{{ ue.nbGroup }}</td>
            </tr>
            <tr>
                <th>CapacityGroup</th>
                <td>{{ ue.capacityGroup }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ue_index') }}">back to list</a>

    <a href="{{ path('app_ue_edit', {'id': ue.id}) }}">edit</a>

    {{ include('ue/_delete_form.html.twig') }}
{% endblock %}
